* {
            margin: 0;
            padding: 0;
        }
        body {
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
            background-color: #f0f0f0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        #colorBox {
            width: 200px;
            height: 200px;
            margin: 0 auto;
            background-color: #ffffff;
            border-radius: 10px;
            border: 2px solid #333333;
        }
        button {
            padding: 10px 20px;
            margin: 10px;
            font-size: 16px;
            border-radius: 8px;
            border: none;
            background: #333;
            color: #fff;
            transition: 0.2s;
        }
        button:hover {
            background-color: #555;
        }